* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  height: 200vh
}

header {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  height: 10vh;
  text-align: center;
  padding-top: 25px;
  -webkit-box-shadow: 0 1px 9px 6px rgb(110, 110, 110);
  -moz-box-shadow: 0 1px 9px 6px rgb(112, 112, 112);
  box-shadow: 0 1px 9px 6px rgb(90, 90, 90);
  color:rgb(206, 170, 240);
  background-color: rgb(25, 25, 53);
}

main {
  display: flex;
}

.char-list {
  width: 70vw;
  height: 85vh;
}

.add-menu {
  width: 30vw;
  height: 85vh;
}

.add-info {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding:30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  border: grey solid 1px;
}

.input-list {
  margin: 20px;
}

.name {
  margin-left: 25px;
  height:30px;
  width: 10vw
}

.race {
  margin-left: 34px;
  height:30px;
  width: 10vw
}

.class {
  height:30px;
  margin-left: 32px;
  width: 10vw;
}

.weapon {
  height:30px;
  width: 10vw;
  margin-left: 10px
}

.img-add {
  width: 10vw;
  height:30px;
  margin-left: 24px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.ac {
  margin-left: 15px;
  border: solid grey 1px;
  width:5vw;
  height:5vh;
}

.maxhp {
  width:5vw;
  height:5vh;
  margin-left: 15px;
  border: solid grey 1px;
}

.ac-hp {
  display: flex;

}

.submit-new {
  margin-top: 40px;
  height:10vh;
  width: 25vw;
  font-size: 30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background:transparent;
  border: grey solid 1px;
  border-radius: 10px;
}

.submit-new:hover {
  background-color: rgb(25, 25, 53);
  color:rgb(206, 170, 240);
  cursor:pointer;
}

img {
  max-width: 50%;
  max-height: 100%;
}

.chars-list {
  display: flex;
  flex-wrap: wrap;
}

.chars-with-image {
  border: rgb(25, 25, 53) solid 1px;
  height: 30vh;
  width: 30vw;
  margin:30px;
}

.individual-char-list {
  display:flex;
  flex-direction: column;
}

.char-name {
  text-transform: capitalize;
  margin:5px;
  margin-top: 10px;
}
.char-race {
  text-transform: capitalize;
  margin:5px;
}
.char-class {
  text-transform: capitalize;
  margin:5px;
}
.char-weapon {
  text-transform: capitalize;
  margin:5px;
}

.char-ac-hp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.char-ac {
  margin:5px;
  font-size: 24px;
}

.char-hp-section {
  margin-left: 15px;
  font-size: 24px;
}

.char-hp  {
  margin:5px;
  font-size: 22px;
  width: 3vw;
  border: grey solid 1px;
  color:black;
}

.char-hp::placeholder{
  color:black;
  text-align: center;
}

.char-maxHp {
  margin:5px;
  font-size: 24px;
}

.remove-char {
  width: 5vw;
  margin: 10px;
  position: relative;
  left: 50px;
}