* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  height: 200vh
}

header {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  height: 10vh;
  text-align: center;
  padding-top: 25px;
  -webkit-box-shadow: 0 1px 9px 6px rgb(110, 110, 110);
  -moz-box-shadow: 0 1px 9px 6px rgb(112, 112, 112);
  box-shadow: 0 1px 9px 6px rgb(90, 90, 90);
  color:rgb(206, 170, 240);
  background-color: rgb(25, 25, 53);
}

main {
  display: flex;
}

.char-list {
  width: 70vw;
  height: 85vh;
}

.add-menu {
  width: 30vw;
  height: 85vh;
}

.add-info {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding:30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  border: grey solid 1px;
}

.input-list {
  margin: 20px;
}

.name {
  margin-left: 25px;
  height:30px;
  width: 10vw
}

.race {
  margin-left: 34px;
  height:30px;
  width: 10vw
}

.class {
  height:30px;
  margin-left: 32px;
  width: 10vw;
}

.weapon {
  height:30px;
  width: 10vw;
  margin-left: 10px
}

.img-add {
  width: 10vw;
  height:30px;
  margin-left: 24px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.ac {
  margin-left: 15px;
  border: solid grey 1px;
  width:5vw;
  height:5vh;
}

.maxhp {
  width:5vw;
  height:5vh;
  margin-left: 15px;
  border: solid grey 1px;
}

.ac-hp {
  display: flex;

}

.submit-new {
  margin-top: 40px;
  height:10vh;
  width: 25vw;
  font-size: 30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background:transparent;
  border: grey solid 1px;
  border-radius: 10px;
}

.submit-new:hover {
  background-color: rgb(25, 25, 53);
  color:rgb(206, 170, 240);
  cursor:pointer;
}

img {
  max-width: 50%;
  max-height: 100%;
}

.chars-list {
  display: flex;
  flex-wrap: wrap;
}

.chars-with-image {
  border: rgb(25, 25, 53) solid 1px;
  height: 30vh;
  width: 30vw;
  margin:30px;
}

.char-img {
  width: 40%
}

.individual-char-list {
  display:flex;
  flex-direction: column;
  width:30%;
}

.char-name {
  text-transform: capitalize;
  margin:5px;
  margin-top: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.char-race {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
  margin:5px;
}
.char-class {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
  margin:5px;
}
.char-weapon {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
  margin:5px;
}

.char-ac-hp {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  float: right;
  height: 40%;
  width: 30%;
  border-left:  rgb(25, 25, 53) solid 1px;
  border-bottom:  rgb(25, 25, 53) solid 1px;
}

.hp-submit {
  position: relative;
  left:1vw;
  background: transparent;
  padding:5px;
  border-radius: 3px;
  border: 1px grey solid;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hp-submit:hover {
  cursor: pointer;
  background: rgb(25, 25, 53);
  color: rgb(206, 170, 240);
}

.char-ac {
  margin:5px;
  font-size: 20px;
}

.char-hp-section {
  margin: 15px;
  font-size: 20px;
}

.char-hp  {
  margin:5px;
  font-size: 24px;
  width: 2vw;
  border: rgb(221, 221, 221) solid 1px;
  color:black;
}

.char-hp::placeholder{
  color:rgb(0, 0, 0);
  text-align: center;
}

.char-hp:focus {
  background: rgb(206, 170, 240);
}

.char-maxHp {
  margin:5px;
  font-size: 20px;
}

.remove-char {
  width: 5vw;
  margin: 10px;
  position: relative;
  left: 50px;
  top: 25px;
  border:rgb(25, 25, 53) solid 1px;
  background: transparent;
  border-radius: 3px;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.remove-char:hover {
  cursor: pointer;
  background: rgb(25, 25, 53);
  color: rgb(206, 170, 240);
}